{% extends 'base.html' %}
{% block main %}

<div class="container">
    <section class="my-5">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="view zoom z-depth-2 rounded">
                    <img class="img-fluid w-100" src="{{url_for('static', filename='img/' + product.image)}}" alt="Card image cap">
                    <a href="#!">
                      <div class="mask"></div>
                    </a>
                  </div>
            </div>
            <div class="col-md-7">
                <h5>{{product.name}}</h5>
                <p class="mb-2 text-muted text-uppercase small"> </p>
                <p><span class="mr-1"><strong> $ {{product.price}}</strong></span></p>
                <p class="pt-1">{{product.description}}</p>
                <div class="table-responsive">
                  <table class="table table-sm table-borderless mb-0">
                    <tbody>
                      <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Type</strong></th>
                        <td>{{product.type}}</td>
                      </tr>
                      <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Material</strong></th>
                        <td>{{product.material}}</td>
                      </tr>
                      <tr>
                        <th class="pl-0 w-25" scope="row"><strong>Size</strong></th>
                        <td>{{product.size}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <hr>
                <div class="table-responsive mb-2">
                  <table class="table table-sm table-borderless">
                    <tbody>
                      <tr>
                        <td class="pl-0 pb-0 w-25">Quantity</td>
                      </tr>
                      <tr>
                        <td class="pl-0">
                          <div class="def-number-input number-input mb-0">
                            <input type="number" class="form-control text-center w-25" value="1" min="0"/>
                          </div>
                        </td>
                      </tbody>
                    </tr>
                  </table>
                </div>
                <!-- purchase button -->
                <form action="{{ url_for('main.order') }}" data-aos="fade-up" data-aos-delay="200">
                    <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                    <input class="btn btn-primary btn-md mr-1 mb-2" type="submit" value="Add to cart">
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}