{% extends 'base.html' %}


{% block main %}

<!-- search result information --> 
<section class="series-cards">
    <h2 class="text-center" style="user-select: none;" id="Product_anchor">Search result...</h2>
    <div class="card-columns text-center">
        {% for product in searchResults %}
        <article class="card my-3">
            <a href="{{ url_for('main.ProductView', productid=product.id)}}">
                <img class="card-img-top" src="{{url_for('static', filename='img/'+product.image)}}" alt="Card image cap">
                <!-- <div class="card-img-overlay text-center p-auto d-flex flex-column justify-content-end"> -->
                    <div class="card-body">
                        <h5 class="card-title" style="color: black">{{ product.name }}</h5>
                        <p class="card-text" style="color: black">{{ product.description }}</p>
                        <h4 class="card-text tag" style="color: black">$ {{ product.price }}</h4>
                        <div>
                            <form action = "{{ url_for('main.order') }}">
                                <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                                <input class="btn btn-primary" type="submit" value="Add to Cart">
                            </form>
                        </div>
                    </div>
                <!-- </div> -->
            </a>
        </article>
        {% endfor %}
    </div>
    <hr>
</section>    

{% endblock %}
